/* General Styles */
/* Variables */
:root {
    --font-stack-headers: 'Karla', sans-serif;
    --font-stack-main: 'Montserrat', sans-serif;
    --text-max-width: 43.75em;
    --colour-green: #ADD34C;
    --colour-dark-blue: #333E45;
    --colour-grey: #bababa;
}

/* Apply styles to all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    object-fit: cover;
}

/* HTML and body styles */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Header styles for h1, h2 and h3 */
h1, h2, h3 {
    /* Apply font family */
    font-family: var(--font-stack-headers);
    color: #333E45;
    padding-bottom: 1rem;
    line-height: 130%;
}
/* h1 font size */
h1 {
    font-size: 2rem;
}

/* h2 font size */
h2 {
    font-size: 1.5rem;
}

/* h3 font size */
h3 {
    font-size: 1.25rem;
}

/* Paragraph and unordered list item styles */
p, ul > li {
    line-height: 175%;
    letter-spacing: 0.05rem;
    font-weight: normal;
    padding-bottom: 1rem;
    max-width: var(--text-max-width);
}
/* Unordered list style */
ul {
    margin-left: 3rem;
}

/* Body styles */
body {
    font-family: var(--font-stack-main);
    letter-spacing: 0.05rem;
    line-height: 150%;
    color: #2B2B2B;
}

/* Link styles */
a {
    font-weight: 600;
    font-size: 1rem;
}

/* Aside styles */
aside {
    text-align: center;
}

/* Header Styles */
header {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* Styles */
    background-color: #333E45;
    width: 100vw;
    color: #fff;
    padding: 0.5rem;
}

/* Logo */
header img {
    width: 9rem;
}

/* Navbar */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Nav link styles */
nav a {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Styles */
    color: #fff;
    transition: .25s ease;
    text-decoration: none;
    height: 3rem;
}

/* Nav link hover style */
nav a:hover {
    color: var(--colour-green);
}

/* Active nav link style */
.active {
    color: var(--colour-green);
}

/* Active button style */
.active-btn {
    background-color: #fff;
}

/* Nav list item style */
nav li {
    width: 9rem;
    padding: 0;
}

/* First child of nav list items */
nav li:nth-child(1) {
    padding-top: 0.5rem;
}
/* Fourth child of nav list items */
nav li:nth-child(4) {
    padding-bottom: 0.5rem;
}

/* Link button styles */
.link-btn {
    background-color: var(--colour-green);
    font-family: inherit;
    font-size: 0.9rem;
    border: none;
    transition: .25s ease;
    width: 5.5rem;
    height: 2.5rem;
}

/* Link button hover styles */
.link-btn:hover {
    background-color: #fff;
    border: 0.25rem solid var(--colour-green);
}

/* Navbar Icon */
#nav-icon {
    width: 2rem;
    height: 1.25em;
    position: relative;
    margin-left: 2rem;
    margin-right: 1.5rem;

    /* Starting icon angle */
    transform: rotate(0deg);

    /* Icon animation transition */
    transition: .5s ease-in-out;

    /* Cursor hover style */
    cursor: pointer;
}

/* Hamburger nav icon style */
#nav-icon div {
    display: block;
    position: absolute;
    height: 0.2em;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

/* Hamburger icon top line position */
#nav-icon div:nth-child(1) {
    top: 0em;
}

/* Hamburger icon middle line position */
#nav-icon div:nth-child(2) {
    top: 0.5em;
}

/* Hamburger icon bottom line position */
#nav-icon div:nth-child(3) {
    top: 1em;
}

/* Rotate hamburger top line when nav open */
#nav-icon.open div:nth-child(1) {
    top: 0.5em;
    transform: rotate(135deg);
}

/* Move middle hamburger line to left and hide it */
#nav-icon.open div:nth-child(2) {
    opacity: 0;
    left: -3em;
}

/* Rotate hamburger bottom line when nav open */
#nav-icon.open div:nth-child(3) {
    top: 0.5em;
    transform: rotate(-135deg);
}

/* Expandable Navbar Styles */
nav ul {
    position: absolute;
    top: 5em;
    margin: 0;
    background-color:var(--colour-dark-blue);
    transition: left .5s;
    list-style-type: none;
}

/* Hide navbar - Position navbar outside viewport */
.hide-nav {
    left: 100vw;
}

/* Show navbar - Position navbar inside viewport */
.show-nav {
    left: calc(100vw  - 9em);
}

/* Header desktop styles */
@media screen and (min-width: 59rem) {
    /* Navbar list */
    nav ul {
        /* Layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;

        /* Styles */
        position: initial;
        list-style-type: none;
        vertical-align: top;
    }
    /* Positions navbar */
    .show-nav, .hide-nav {
        left: 0;
    }
    /* Remove top padding from nav link 1 */
    nav li:nth-child(1) {
        padding-top: 0;
    }
    /* Remove bottom padding from nav link 4 */
    nav li:nth-child(4) {
        padding-bottom: 0;
        margin-right: 1.5rem;
    }
    /* Hide hamburger icon */
    #nav-icon {
        display: none;
    }
    /* Link button style */
    .link-btn {
        margin-right: 2.25rem;
        margin-left: 4rem;
    }
}

/* Footer General Styles */
footer {
    /* Layout */
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    /* Styles */
    background-color: var(--colour-dark-blue);
    color: #fff;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 0.9rem;
}
/* Footer section styles */
footer section {
    margin-bottom: 2em;
    max-width: 30rem;
    margin: 0 auto;
}
/* Footer heading styles */
footer h2, h3 {
    color: #fff;
}
/* Footer h3 style */
footer h3 {
    padding-bottom: 0.25rem;
}
/* Footer unordered list styles */
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Footer image styles */
footer img {
    width: 15em;
}
/* Footer image container styles */
.footer-image-container {
    text-align: center;
    padding-bottom: 2em;
}
/* Footer credits styles */
.footer-credits {
    grid-column: 1 / span 2;
    display: grid;
    justify-content: center;
}

/* General main styles */
main {
    /* Style */
    padding: 2rem 1rem;
    max-width: 90em;

    /* Layout */
    display: grid;
    justify-content: center;
    margin: auto;
}
/* Main image styles */
.main-img {
    margin: 6rem auto;
    width: 100%;
}

/* Home Page */
/* Main aside style */
main > aside {
    margin: 2rem 0;
}
/* Home page banner styles */
.home-top {
    text-align: center;
    margin-bottom: 2rem;
    
}
/* Home page banner image styles */
.home-top > div > img {
    margin-bottom: 2rem;
    max-width: 751px;
    width: 20rem;
    min-width: 40vw;
}
/* Home page banner heading styles */
.home-top > h2 {
    margin-bottom: 1em;
}

/* Main body links margins and center alignment */
.main-link-container {
    margin: 2rem 0;
    text-align: center;
}

/* Main body link styling */
.main-link {
    background-color: var(--colour-green);
    color: #fff;
    text-decoration: none;
    padding: 0.7em 1em;
    cursor: pointer;
    transition: .25s ease;
}
/* Main body link hover styling */
.main-link:hover {
    background-color: var(--colour-dark-blue);
    color: var(--colour-green);
    border: 0.25rem solid var(--colour-green);
}

/* Team Page Style */
/* Team member container styles */
.Team-container {
    position: relative;
}
/* Team member picture styles */
.Team-picture {
    opacity: 1;
    display: block;
    width: 100%;
    max-width: 18.75em;
    transition: .5s ease;
    backface-visibility: hidden;
}

/* Team member profile information styles */
.Team-profile {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-10%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin: auto;
    width: 80%;
}
/* Team member profile header and paragraph styles */
.Team-profile > h2, .Team-profile > p {
    padding-bottom: 0.25rem;
}

/* Team member profile header styles */
.Team-profile > h2 {
    font-size: 1.2rem;
}

/* Team member profile paragraph styles */
.Team-profile > p {
    font-size: 0.85rem;
}

/* Team member hover styles for image */
.Team-container:hover .Team-picture {
    /* Reduces image opacity to 10% */
    opacity: 0.1;
}
/* Team member hover styles for profile */
.Team-container:hover .Team-profile {
    /* Reveals profile information */
    opacity: 1;
}

/* Team list container styles */
.Team-list {
    display: grid;
    align-items: center;
    /* 2 column grid */
    grid-template-columns: repeat(2, 1fr);
    max-width: 37.5rem;
    width: 100%;
    margin: 2rem auto;
}

/* Desktop styles for team page */
@media screen and (min-width: 50em) {
    /* Team list container styles */
    .Team-list {
        display: grid;
        align-items: center;
        /* 3 column grid */
        grid-template-columns: repeat(3, 1fr);
        max-width: 50rem;
        margin-top: 2rem;
    }
    /* Team member profile header */
    .Team-profile > h2 {
        font-size: 2rem;
        line-height: 1;
    }
    /* Team member profile paragraphs */
    .Team-profile > p {
        font-size: 1rem;
    }
    /* Team member header and profile styles */
    .Team-profile > h2, .Team-profile > p {
        padding-bottom: 1rem;
    }
}

/* Browse Products Page */
.products-list {
    /* Layout */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 2rem 0;
}

/* Centers product link content and sets width for mobile */
.product-link {
    width: 9rem;
    margin: auto;
}

/* Product link title font size for mobile */
.product-link h2 {
    font-size: 1.2rem;
}

/* Product item image width */
.product-link-image {
    width: 100%;
}

/* When the screen is greater than 40em */
@media screen and (min-width: 40em) {
    /* Increase grip gap of products list */
    .products-list {
        grid-gap: 2rem;
    }
    
    /* Increase product link width */
    .product-link {
        width: 13.5rem;
    }

    /* Increase product link image height */
    .product-link-image {
        height: 13.5rem;
    }

    /* Increase font size of product link title */
    .product-link h2 {
        font-size: 1.35rem;
    }
}

/* When the screen is greater than 50em */
@media screen and (min-width: 50em) {
    /* Increase grip gap of products list */
    .products-list {
        grid-gap: 3rem;
    }

    /* Increase product link width */
    .product-link {
        width: 18rem;
    }

    /* Increase product link image height */
    .product-link-image {
        height: 18rem;
    }
    
    /* Increase font size of product link title */
    .product-link h2 {
        font-size: 1.5rem;
    }
}


/* Product Page */
.product-page > div {
    text-align: center;
}


/* Contact Page */
/* Contact page container styles */
.contact-page-container {
    display: grid;
    justify-content: center;
}

/* Contact form styles */
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: var(--text-max-width);
    width: 100%;
    margin: 2rem auto;
}

/* Form labels style */
.contact-form > label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Form input and text area styles */
.contact-form > input, textarea {
    margin-bottom: 1rem;
}

/* Form text input, email input and text area styles */
.contact-form > input[type=text], input[type=email], textarea {
    padding: 0.75rem;
    font-family: var(--font-stack-main);
    background-color: #EFEFEF;
    border: none;
}

/* Form submit button specific styles */
.contact-form > input[type=submit] {
    border: none;
    width: 11rem;
    font-size: 1rem;
}

/* Contact form submit button hover styles */
.contact-form > input[type=submit]:hover {
    border: 0.25rem solid var(--colour-green);
}

/* Contact page phone section styles */
.contact-phone {
    display: flex;
    flex-direction: row;
}

/* Contact page phone icon padding */
.contact-phone > i {
    padding-right: 1rem;
    color: grey;
}

/* Contact page email icon padding */
.contact-email > i {
    padding-right: 1rem;
    color: grey;
}

/* Contact page address and details styles */
.contact-address, .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Contact details styles */
.contact-details {
    margin-bottom: 2rem;
}

/* Contact details section styles */
.contact-details > section {
    display: flex;
    flex-direction: row;
}

/* Contact details section image styles */
.contact-details > section > img {
    padding: 1rem;
}

/* Contact address section styles */
.contact-address > section {
    margin: 1rem 0;
}

/* Alternative layout for larger displays */
/* Displays address and details on single row */
@media screen and (min-width: 40rem) {
    /* Contact address styles */
    .contact-address {
        flex-direction: row;
    }
    /* Contact details style */
    .contact-details {
        flex-direction: row;
    }
}